.table {
  &-body {
    table {
      width: 100%;

      tr {
        text-align: left;
        color: $black;
        min-height: 20px;
        border-bottom: solid 1px rgba($gray-1, 0.5);
      }

      thead {
        tr {
          border-top: solid 1px rgba($gray-1, 0.5);
          th {
            font-weight: bold;
            padding: 16px;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 16px;
          }
        }
      }
    }
  }

  &-header {
    &__search {
      position: relative;
      display: flex;
      justify-content: space-between;

      .icon {
        position: absolute;
        height: 100%;
        padding-left: 12px;
      }

      input {
        min-width: 280px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;

    &__select, &__pagination {
      display: flex;
    }

    &__pagination {
      ul {
        display: flex;

        button {
          font-weight: bold;

          &.default {
            color: $gray-5;
          }
        }
      }
    }
  }
}

// dropdown 스타일
.dropdown {
  position: relative;

  &-menu {
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
    margin-top: 8px;
    transition: max-height 200ms ease-in;

    &.show {
      max-height: 280px;
    }

    &__item {
      .selected {
        background: rgba($primary, 0.1);
        color: $primary;
      }
    }
  }
}